// Width Breakpoints
$width-breakpoint-md: 768px;
$width-breakpoint-lg: 1024px;
$width-breakpoint-xl: 1280px;
$width-breakpoint-2xl: 1536px;
$width-breakpoint-3xl: 1920px;
$width-breakpoint-4xl: 2560px;
$width-breakpoint-5xl: 3840px;
$width-breakpoint-6xl: 4096px;
$width-breakpoint-7xl: 4352px;
$width-breakpoint-8xl: 4608px;
$width-breakpoint-9xl: 4864px;
$width-breakpoint-10xl: 5120px;

// create a mixin for responsive
@mixin responsive($width) {
  @media (max-width: $width) {
    @content;
  }
}
